.imageContainer {
    top: 28.4%;
    left: 33.55%;
    width: 239px;
    height: 157px;
    background-color: #FEFFDB;
    position: absolute;
    border-radius: 1em;
}

.pokemonImage {
    height: 110%;
}